body {
  box-sizing: border-box;
  margin: 0;
}

/* For some reason svelte-routing gives a default text decoration to navbar links so this is a quickfix for now */
a.nav-link {
  text-decoration: none;
}

  /* Standard font is set here by default */
@font-face {
    font-family: "Monofonto";
    src: url("../assets/monofontorg.otf") format("opentype");
}

@font-face {
  font-family: "Monofonto";
  src: url("../assets/timesromance.otf") format("opentype");
}

button,
h1,
h2,
h3,
a,
input
{
  font-family: "Monofonto", fallback, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

/* a {
  font-family: "Times Romance", serif; 
  color: #ffffff;
  margin: 0;
  padding: 0;
} */

/* Fill in gap at top above navbar where there normally is margin & causes white color border (Might be bad) */
/* #app {
  background-color: #37C84C;
} */

