body {
  box-sizing: border-box;
  margin: 0;
}


/* For some reason svelte-routing gives a default text decoration to navbar links so this is a quickfix for now */
a.nav-link {
  text-decoration: none;
}

  /* Standard font is set here by default */
@font-face {
    font-family: "Monofonto";
    src: url("../assets/monofontorg.otf") format("opentype");
}

button,
input[type='file'],
h1,
h2,
h3,
a
{
  font-family: "Monofonto", fallback;
  color: black;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Monofonto", fallback;
  margin: 0;
  padding: 0;
}


